* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
  }
  html{
    font-family: "Varela Round", sans-serif;
  }

  header{
    background-color: #ff8008;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    img{
        height: 70px;
        margin-left: 16px;
    }
  }
  main{
    display: flex;
    #restaurant{
        width: calc(100% - 308px);
        @media (max-width: 600px){
            width: 100%;
        }
        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
        h2{
            margin-top: 16px;
        }
        span{
            color: #ff8008;
            margin-top: 8px;
            margin-bottom: 16px;
        }
        #essen-bild{
            height: 200px;
            width: calc(100% - 32px);
            object-fit: cover;
        }
        h3{
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .name-button{
            display: flex;
            justify-content: space-between;
        }
    }
    #shop-cart{
        background-color: aqua;
        width: 308px;
        @media (max-width: 600px){
            display: none;
        }
    }
    .einrücken{
        margin-left: 16px;
        margin-right: 16px;
    }
  }
  .abstand{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .border{
    border: 1px solid rgba(0, 0, 0, 0.1);;
  }
  .kleiner-abstand{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  footer{
    width: 100%;
    height: 120px;
    background-color: #ff8008;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    img{
      height: 40px;
    }
    a:hover{
      cursor: pointer;
      filter: drop-shadow(0px 0px 4px #ffffff);
    }
    
  }